# ---------------------------
#
# BEACON MAC ADDRESS LIST; REQUIRES NAME
#
# 	Format: 00:00:00:00:00:00 Nickname #comments
# ---------------------------

{%- for beacon in known_beacons | default([]) -%}
{{ beacon.mac }} {{ beacon.name }}
{% endfor %}