[Unit]
Description=Monitor Service
After=network.target

[Service]
User=root
ExecStart=/bin/bash {{ ble_monitor_install_path }}/monitor.sh {{ ble_monitor_has_service_args | ternary(ble_monitor_service_args, '') }} {{ ble_monitor_has_service_trigger_args | ternary(ble_monitor_service_trigger_args, '') }} &
WorkingDirectory={{ ble_monitor_install_path }}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target network.target